@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --bg-color: hsl(225, 100%, 94%);
    --title-color: hsl(223, 47%, 23%);
    --button-color:  hsl(245, 75%, 52%);
    --light-color: hsl(224, 23%, 55%);
    --card-color: hsl(225, 100%, 98%);
    --active-color: hsl(245, 100%, 63%);

    --fs-xl: 24px;
    --fs-400: 16px;
    --fs-500: 18px;

}

@media screen and (min-width: 600px){
    :root{
        --fs-xl: 30px;
        --fs-400: 18px;
        --fs-500: 20px;
    }
    body{
        background-image: url(./images/pattern-background-mobile.svg)
    }
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    font-family: Red Hat Display, sans-serif;
}

.card{
    background-color: var(--card-color);
    max-width: 23rem;
    
    border-radius: 30px;
    position: relative;
}

.container-image{
    background-image: url(./images/illustration-hero.svg);
    min-height: 200px;
    background-position: center;
    border-radius: 30px 30px 0 0 
}

.container-text{
    padding: 2rem;
    text-align: center;
}

.title{
    margin: 0;
    font-weight: 900;
    color: var(--title-color);
    font-size: var(--fs-xl);
}

.subtitle{
    color: var(--light-color);
    font-size: var(--fs-400);
    margin-top: 10px;
}

.container-icon{
    background-image: url(./images/icon-music.svg);
    background-repeat: no-repeat;
    height: 49px;
    width: 49px;
}

.price-section{
    margin-top: 20px;
    background-color: hsla(225, 100%, 94%, 0.343);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
}

.price{
    color: var(--light-color);
    margin: 0;
    font-size: var(--fs-400);
}

.price-title{
    margin: 0;
    color: var(--title-color);
    font-size: var(--fs-400);
}

.link, button, .cancel-button{
    cursor: pointer;
}

button{
    background-color: var(--button-color);
    color: var(--card-color);
    border: none;
    padding: 1.25rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 4px  10px rgba(55, 55, 55, 0.198);
    font-size: var(--fs-500);
    font-weight: 700;
    margin: 20px 0;
}

.link{
    color: var(--button-color);
    font-weight: 700;
    align-self: center;
    font-size: var(--fs-400);
}

.cancel-button{
    color: var(--light-color);
    font-weight: 700;
    font-size: var(--fs-500);
    margin: 0;
}

.link:hover{
    color: var(--active-color) ;
}

button:hover{
    background-color: var(--active-color) ;
}